@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: whitesmoke;
  display: flex;
  place-content: center;
  font-size: 150%;
}

button {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.gold {
  color: gold;
}

.btn {
  @apply text-white font-bold bg-transparent border-2 border-solid border-zinc-700 py-1 px-6 rounded outline-none hover:outline-offset-4 hover:outline-zinc-700 hover:bg-zinc-700 hover:text-white duration-300 ease-in-out;
}
